.container {
    display: flex;
}

/* .container:hover {
    color: rgba(255, 255, 255, 0.5);
} */

.poster {
    background-color: blanchedalmond;
    width: 200px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;

}